/* @import './base.css'; */
@import './reset.css';

body {
  width: 100%;
  font-family: montserrat;
  color: var(--color-text);
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 52%, rgba(241,171,39,1) 92%);
  /* overflow-x: hidden; */
}

h1, h2, h3{
  font-family: "Roboto", serif;
  text-align: center;
  font-style: italic;
}


h1{
  font-size: 4em;
  font-style: italic;
  margin: 5% 0;
  color:#2E1B0F ;
  
}

h2 {
  font-size:2em;
  color: #4A6A75;
  
}

h3{
  font-size: 1.3em;
  margin: 40px 20px 20px 20px;
  color:#2E1B0F ;
}

.logSubs {
  font-size : 10px;
}

/* #app {
  max-width: 100vw;
  margin: 0 auto;
  font-weight: normal;
} */

a,
.green {
  text-decoration: none;
  color: #4A6A75;
  transition: 0.4s;
  /* padding: 3px; */
}


/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  } 
} */
